
$mainColor: #4D4949;
$secondaryBackgroundColor: #F8F8F8;
$mainBackgroundColor: #fff;
$overFooterBorder: #DDDDDD;

// Fonts
$fontColor: #4D4949;

// Buttons
$buttonDarkColor: #4D4C49;
$buttonLightColor: #FFFFFF;
$buttonHoverColor: #393737;
$buttonLightFontColor: #FFFFFF;
$buttonDarkFontColor: #4D4949;
$buttonBorderColor: #4D4949;

$playButtonColor: rgba(77,73,73,0.7);
$upButtonColor: rgba(77,73,73,0.3);

// Cards
$aboutIconset: #B0D1FF;
$aboutTypography: rgb(196, 213, 149);
$aboutAccurate: #FFB0B0;

// Quote
$quoteBackgroundColor: #494A4D;

// Form
$formTitleColor: #F8F8F8;
$formShadow: #B7B7B7;
$formBorderInputColor: #DCDCDC;

// Copyright
$copyrightColor: #333333;

// line
$lineColor: #DCDCDC;

// Search
$searchColor: #4D4949;

// Post
$postBackgroundColor: #FCF6F6;
$postBorder: #DDDDDD;

// Notice border 
$noticeBorderColor: #E6E6E6;

// Review
$reviewBackgroundColor: #FCF6F6;

// Aside
$asideBorderColor: #E6E6E6;
$asideBackgroundColor: #FCF6F6;

