
// Size
$page-width: 1440px;


// Fonts
$baseFontFamily:  'Hind Siliguri', sans-serif;

$formFont: 'Hind Siliguri Medium';

$baseFontSize: 17px;
$baseLineHeight: 26px;

$titleFontSize: 24px;
$titleLineHeight: 39px;
$titleUnderlineAbout: 90px;
$titleUnderlinePosts: 122px;
$titleUnderlinePortfolio: 157px;
$titleUnderlineTestimonials: 127px;
$titleUnderlineContact: 106px;

$titleUnderlineBlog: 45px;

